<h3>An occured while processing your request.<br />
    The support team has been notified and we are working to resolve it.</h3>
<h5>Please contact us on <a href="mailto:support@vyankateshsoftwares.in">support@vyankateshsoftwares.in</a></h5>

@*<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <p>Path : @ViewBag.path</p>
            <p>Exception : @ViewBag.errorMessage</p>
            <div class="error">
                <h5>Exception Stack Trace</h5>
                <p>@ViewBag.stackTrace</p>
            </div>
        </div>
    </div>
</div>*@