@model Trans9.Models.Payslip

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditPayroll" asp-route-id="@Model.payId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="payId" />
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>SUMMARY</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="employeeId" class="control-label"></label>
                                    <select class="form-control selectpicker" asp-for="employeeId" data-live-search="true" required>
                                        @foreach (var item in Model.ddl)
                                        {
                                            <option value="@item.Id" data-tokens="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <input asp-for="employeeId" style="display:none;" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="basic" class="control-label"></label>
                                    <input asp-for="basic" class="form-control" />
                                    <span asp-validation-for="basic" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="allowances" class="control-label">ALLOWANCES</label>
                                    <input id="allowances" class="form-control" readonly/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="deductions" class="control-label">DEDUCTIONS</label>
                                    <input id="deductions" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
