@model IEnumerable<Trans9.Models.Shipment>
@section Styles{
    <!-- Select2 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    <style>
        .table {
            font-size: 11px;
        }

        .btn-sm {
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.2;
            border-radius: 0.2rem;
        }
    </style>
}
    <div class="row">
        <div class="col-md-9">
            <h4> @ViewBag.PageTitle</h4>
        </div>
    </div>
    <div id="view-all-transaction">
        @await Html.PartialAsync("_ViewAllShipments", Model)
    </div>
    @section Scripts {
    <script src="../../dist/datatable/js/jquery.datatables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="../../js/excelexportjs.js"></script>
    <script src="../../js/app.js"></script>
}